.projectCard{
    height: 400px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 2rem;
}
.textCard{
    font-size: 1.5rem;
}
.iconescontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icones{
    height:35px;
    width: 35px;
}